<body id="about_page">
  <div class="container">
    <h1>Downtoplay</h1>
    <p>Downtoplay is on a mission to create a more active world and to connect people
      through the power of pickup games. Users set up a profile. From
      there, users can meet players around them and set up games.</p>
  </div>
</body>
