@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/*NAV BAR*/

nav ul{
  background-color: #2CB463;
  overflow: hidden;
  padding: 0;
  text-align: right;
  margin: 0;
  -webkit-transition: max-height 0.4s;
  -ms-transition: max-height 0.4s;
  -moz-transition: max-height 0.4s;
  -o-transition: max-height 0.4s;
  transition: max-height 0.4s;
}

nav ul li{
  display: inline-block;
  padding: 20px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: #F9F3F4;
}

nav ul li:hover{
  background-color: #2CB463;
  color: grey;
}

nav ul li a{
  text-decoration: none;
  color: inherit;
}

/*END OF NAVBAR*/

/*HOME PAGE*/

.intro{
  height: 100%;
  width: 100%;
  margin: auto;
  background: url("/assets/soccer.jpg") no-repeat 50% 50%;
  display: table;
  top: 0;
  background-size: cover;
}
.intro .inner{
  display: table-cell;
  vertical-align: middle;
  width: 100%
  max-width: none;
}

.content{
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}
.content h1{
  font-family: 'Raleway', sans-serif;
  color: #F9F3F4;
  text-shadow: 0px 0px 300px #000;
  font-size: 350%;
}

.btn{
  border-radius: 9px;
  font-family: 'Oswald', sans-serif;
  color: #2CB463;
  font-size: 135%;
  padding: 10px 20px;
  margin-right: 20px;
  border: solid #2CB463 3px;
  text-transform: uppercase;
  text-decoration: none;
}
#sign_up.btn{
  background-color: #2CB463;
  color: #F9F3F4;
  border: solid #F9F3F4 3px;
}

.btn:hover{
  color: #fff;
  border: solid #fff 3px;
}

#sign_up.btn:hover{
  background-color: #F9F3F4;
  color: #2CB463;
  border: solid #2CB463 3px;
}
.handle{
  width: 100%;
  background: #2CB463;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  text-align: left;
  box-sizing: border-box;
  padding: 15px 10px;
  cursor: pointer;
  color: white;
  display: none;
}

.logo{
  float: left;
  font-weight: bolder;
}

.notice, .alert{
  margin:0;
}

/*END OF HOME PAGE*/

/*PROFILE PAGE*/

body#profilepage {
  background-color: #CDD0CE;
}

body#profilepage .container {
  display: inline-block;
  margin-left: 30%;
  color: #F9F3F4;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  border: solid;
  border-radius: 25px;
  margin-top: 15px;
  padding: 20px;
}

body#profilepage .container h2 {
  color: #2CB463;
}

body#profilepage .game_links a{
  color: black;
  font-size: 2em;
}

body#profilepage .game_links a:hover{
  color: white;
  font-size: 2em;
}

body#profilepage .game_links_btn a{
  text-decoration: none;
  display: inline-block;
  float: left;
  margin-right: 10px;
  margin-left: 30px;
  border: solid 3px;
  padding: 15px;
  border-radius: 20px;
  background-color: #2CB463;
  color: #F9F3F4;
}

body#profilepage .game_links_btn a:hover{
  text-decoration: none;
  display: inline-block;
  float: left;
  margin-right: 10px;
  margin-left: 30px;
  border: solid 3px;
  padding: 15px;
  border-radius: 20px;
  background-color: #F9F3F4;
  color: #2CB463;
}
/*END OF PROFILE PAGE*/

/*GAME INDEX PAGE*/

body#game_indexpage {
  background-color: #CDD0CE;
}

body#game_indexpage .container {
  color: #F9F3F4;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  margin-top: 30px;
}

body#game_indexpage .container h1 {
  color: #F9F3F4;
  margin-left: 50px;
}

body#game_indexpage table {
    border-collapse: collapse;
    border: solid;
    border-radius: 25px;
}

body#game_indexpage th {
    text-align: left;
    background-color: slategrey;
    color: #F9F3F4;
    height: 50px;
    text-align: center;

}

body#game_indexpage table, th, td {
    border: 1px solid black;
    text-align: center;
    height: 50px;
}

body#game_indexpage table tr td a {
    color: #2CB463;
}

/*END OF GAME INDEX PAGE*/


/*RESPONSIVE STYLE*/

@media screen and (max-width: 768px){
  .content h1{
    font-size: 250%;
  }
  .btn{
    font-size: 110%;
    padding: 7px 15px;
  }
  nav ul{
    max-height: 0px;
  }
  .showing{
    max-height: 20em;
  }
  nav ul li{
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    text-align: left;
  }

  .handle{
    display: block;
  }

  /*END OF RESPONSIVE STYLE*/
