@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/*NAV BAR*/

nav ul{
  background-color: #2CB463;
  overflow: hidden;
  padding: 0;
  text-align: right;
  margin: 0;
  -webkit-transition: max-height 0.4s;
  -ms-transition: max-height 0.4s;
  -moz-transition: max-height 0.4s;
  -o-transition: max-height 0.4s;
  transition: max-height 0.4s;
}

nav ul li{
  display: inline-block;
  padding: 20px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: #F9F3F4;
}

nav ul li:hover{
  background-color: #2CB463;
  color: grey;
}

nav ul li a{
  text-decoration: none;
  color: inherit;
}

/*END OF NAVBAR*/

/*HOME PAGE*/

.intro{
  height: 100%;
  width: 100%;
  margin: auto;
  background: url("/assets/soccer.jpg") no-repeat 50% 50%;
  display: table;
  top: 0;
  background-size: cover;
}
.intro .inner{
  display: table-cell;
  vertical-align: middle;
  width: 100%
  max-width: none;
}

.content{
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}
.content h1{
  font-family: 'Raleway', sans-serif;
  color: #F9F3F4;
  text-shadow: 0px 0px 300px #000;
  font-size: 350%;
}

.btn{
  border-radius: 9px;
  font-family: 'Oswald', sans-serif;
  color: #2CB463;
  font-size: 135%;
  padding: 10px 20px;
  margin-right: 20px;
  border: solid #2CB463 3px;
  text-transform: uppercase;
  text-decoration: none;
}
#sign_up.btn{
  background-color: #2CB463;
  color: #F9F3F4;
  border: solid #F9F3F4 3px;
}

.btn:hover{
  color: #fff;
  border: solid #fff 3px;
}

#sign_up.btn:hover{
  background-color: #F9F3F4;
  color: #2CB463;
  border: solid #2CB463 3px;
}
.handle{
  width: 100%;
  background: #2CB463;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  text-align: left;
  box-sizing: border-box;
  padding: 15px 10px;
  cursor: pointer;
  color: white;
  display: none;
}

.logo{
  float: left;
  font-weight: bolder;
}

.notice, .alert{
  margin:0;
}

/*END OF HOME PAGE*/

/*PROFILE PAGE*/

body#profilepage {
  background-color: #CDD0CE;
  /*background: url("/assets/background.png") no-repeat 50% 50%;
  background-size: cover;*/
}

body#profilepage .container {
  display: inline-block;
  margin-left: 33.33%;
  color: #F9F3F4;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  border: solid;
  border-radius: 25px;
  margin-top: 15px;
  padding: 20px;
}

body#profilepage .container h2 {
  color: #2CB463;
}

body#profilepage .game_links a{
  color: black;
  font-size: 2em;
}

body#profilepage .game_links a:hover{
  color: white;
  font-size: 2em;
}

body#profilepage .game_links_btn a{
  text-decoration: none;
  display: inline-block;
  float: left;
  margin-right: 10px;
  margin-left: 30px;
  border: solid 3px;
  padding: 15px;
  border-radius: 20px;
  background-color: #2CB463;
  color: #F9F3F4;
}

body#profilepage .game_links_btn a:hover{
  text-decoration: none;
  display: inline-block;
  float: left;
  margin-right: 10px;
  margin-left: 30px;
  border: solid 3px;
  padding: 15px;
  border-radius: 20px;
  background-color: #F9F3F4;
  color: #2CB463;
}
/*END OF PROFILE PAGE*/

/*GAME INDEX PAGE*/

body#game_indexpage {
  background-color: #CDD0CE;
}

body#game_indexpage .container {
  color: #F9F3F4;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  margin-top: 30px;
}

body#game_indexpage .container h1 {
  color: #F9F3F4;
  margin-left: 50px;
}

body#game_indexpage table {
    border-collapse: collapse;
    border: solid;
    border-radius: 25px;
}

body#game_indexpage th {
    text-align: left;
    background-color: slategrey;
    color: #F9F3F4;
    height: 50px;
    text-align: center;

}

body#game_indexpage table, th, td {
    border: 1px solid black;
    text-align: center;
    height: 50px;
}

body#game_indexpage table tr td a {
    color: #2CB463;
}

body#game_indexpage table tr td a:hover {
    color: #F9F3F4;
}

/*END OF GAME INDEX PAGE*/

/* LOG IN PAGE*/

body#login_page, body#sign_up_page {
  background: url("/assets/soccer.jpg") no-repeat 50% 50%;
  background-size: cover;
}

body#login_page .container, body#sign_up_page .container {
  display: inline-block;
  margin-left: 33%;
  padding: 75px;
  border-radius: 20px;
  background-color: #F9F3F4;
  color: #2CB463;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  margin-top: 100px;
}



body#login_page .container .new_user .field input, body#sign_up_page .container .new_user .field input {
  width: 300px;
  border-radius: 30px;
  height: 25px;
}

body#login_page .container .new_user .field input:focus, body#sign_up_page .container .new_user .field input:focus {
  width: 300px;
  border-radius: 30px;
  height: 25px;
  outline: none;
}

body#login_page .container .new_user #remember_me {
  display: inline-block;
}

body#login_page .container .new_user .actions{
  display: inline-block;
  float: right;
  margin-right: 30%;
}

body#login_page .container .new_user .actions input{
  width: 215%;
  height: 30px;
  border-radius: 30px;
  font-family: 'Raleway',sans-serif;
  background-color: #2CB463;
  border: none;
  color: white;
  font-size: 1em;
  cursor: pointer
}

body#login_page .container .facebook a{
  display: inline-block;
  height: 25px;
  border-radius: 30px;
  font-family: 'Raleway',sans-serif;
  background-color: #3b5998;
  border: none;
  color: white;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
  padding-top: 3%;
  padding-left: 22%;
  padding-right: 23%;
}

body#login_page .container #forgot {
  display: inline-block;
}

body#login_page .container #forgot a{
  color: #2CB463;
  margin-left: 60px;
}

body#login_page .container #no_account a{
  color: #2CB463;
  padding-left: 37%;
}


/*END OF LOG IN  PAGE*/

/*SIGN UP PAGE*/

body#sign_up_page .container .new_user .actions{
  display: block;
  margin-right: 30%;
}

body#sign_up_page .container .new_user .actions input{
  width: 145%;
  height: 30px;
  border-radius: 30px;
  font-family: 'Raleway',sans-serif;
  background-color: #2CB463;
  border: none;
  color: white;
  font-size: 1em;
  cursor: pointer
}

body#sign_up_page .container .links p{
  display: inline-block;
  color: slategray;
  margin: 6%;
}

body#sign_up_page .container .links a{
  text-decoration: none;
  color: #2CB463;
}

body#sign_up_page .container #new_user #error_explanation h2 {
  font-size: 1em;
}


/*END OF SIGN UP PAGE*/

/*PLAN A GAME PAGE*/

body#plan_game_page{
  background-color: #CDD0CE;
}

body#plan_game_page .container {
  display: inline-block;
  margin-left: 33.33%;
  color: #F9F3F4;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  margin-top: 15px;
  padding: 20px;
}

body#plan_game_page .container .new_game .field #game_sport_id {
  display: inline-block;
  border-radius: 15px;
  width: 40%;
  height: 25px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}

body#plan_game_page .container .new_game .field #game_sport_attributes_name {
  border-radius: 15px;
  width: 40%;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}

body#plan_game_page .container .new_game .field p {
  display: inline-block;
  color: #2CB463;
}

body#plan_game_page .container .new_game .field input {
  border-radius: 15px;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}

body#plan_game_page .container .new_game .field #game_notes {
  display: block;
  height: 150px;
  width: 300px;
}

body#plan_game_page .container .new_game #submit input {
  font-family: 'Raleway', sans-serif;
  border-radius: 30px;
  border: solid 3px;
  border-color: #F9F3F4;
  background-color: #2CB463;
  color: #F9F3F4;
  padding: 4%;
  text-transform: uppercase;
  float: right;
  cursor: pointer;
}

body#plan_game_page .container .new_game .field label {
  color: #2CB463;
}

body#plan_game_page .container a {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  display: inline-block;
  float: left;
  margin-right: 10px;
  margin-left: 30px;
  border: solid 3px;
  padding: 6px;
  border-radius: 20px;
  background-color: #2CB463;
  color: #F9F3F4;
  width: 26%;
  padding-left: 2%;
  padding-bottom: 0%;
  padding-top: 4%;
  height: 26px;
  text-align: center;
}

body#plan_game_page .container .fields_with_errors {
  color: #2CB463;
}

/*END OF PLAN A GAME PAGE*/

/*EDIT GAME*/


body#edit_game_page{
  background-color: #CDD0CE;
}

body#edit_game_page .container {
  display: inline-block;
  margin-left: 33.33%;
  color: #F9F3F4;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  margin-top: 15px;
  padding: 20px;
}

body#edit_game_page .container .edit_game .field #game_sport_id {
  display: inline-block;
  border-radius: 15px;
  width: 40%;
  height: 25px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}

body#edit_game_page .container .edit_game .field #game_sport_attributes_name {
  border-radius: 15px;
  width: 40%;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}

body#edit_game_page .container .edit_game .field p {
  display: inline-block;
  color: #2CB463;
}

body#edit_game_page .container .edit_game .field input {
  border-radius: 15px;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}

body#edit_game_page .container .edit_game .field #game_notes {
  display: block;
  height: 150px;
  width: 300px;
}

body#edit_game_page .container .edit_game #submit input {
  font-family: 'Raleway', sans-serif;
  border-radius: 30px;
  border: solid 3px;
  border-color: #F9F3F4;
  background-color: #2CB463;
  color: #F9F3F4;
  padding: 4%;
  text-transform: uppercase;
  float: right;
  cursor: pointer;
}

body#edit_game_page .container .edit_game .field label {
  color: #2CB463;
}

body#edit_game_page .container a {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  display: inline-block;
  float: left;
  margin-right: 10px;
  margin-left: 30px;
  border: solid 3px;
  padding: 6px;
  border-radius: 20px;
  background-color: #2CB463;
  color: #F9F3F4;
  width: 26%;
  padding-left: 2%;
  padding-bottom: 0%;
  padding-top: 4%;
  height: 26px;
  text-align: center;
}

body#edit_game_page .container .fields_with_errors {
  color: #2CB463;
}

/*END OF EDIT GAME*/

/*SHOW GAME*/

body#show_game_page{
  background-color: #CDD0CE;
}

body#show_game_page .container{
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

body#show_game_page .container h1{
  text-align: center;
  color: #2CB463;
  margin-bottom: 0px;
  padding-left: 20%;
}

body#show_game_page .container small{
  text-align: center;
  padding-left: 44%;
  color: slategray;
}

body#show_game_page .container #sport_name{
  text-align: center;
  padding-left: 47%;
  color: #F9F3F4;
}

body#show_game_page .container #game_info{
  margin-left: 10%;
  display: inline-block;
  float: left;
}

body#show_game_page .container #game_info h2{
  margin: 0;
  border: solid 3px;
  border-color: white;
  padding: 4%;
  width: 250%;
  padding-bottom: 25%;
}

body#show_game_page .container #joined_players table{
  width: 31%;
  float: right;
  margin-right: 10%;
  margin-top: 2%;
}

body#show_game_page .container #joined_players table th{
  background-color: #2CB463;
  color: #F9F3F4;
}

body#show_game_page .container #joined_players table tbody tr td a{
  color: #F9F3F4;
}

body#show_game_page .container .right_button{
  position: relative;
  float: right;
  margin-right: 5%;
}

body#show_game_page .container .left_button .green_button.bttn{
  margin-left: 3%;
}

body#show_game_page .container .left_button .green_button.bttn a{
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  display: inline-block;
  float: left;
  margin-right: 10px;
  margin-left: 30px;
  border: solid 3px;
  padding: 6px;
  border-radius: 20px;
  background-color: #2CB463;
  color: #F9F3F4;
  width: 7%;
  text-align: center;
  margin-top: 10px;
}

body#show_game_page .container .right_button .white_button.bttn a{
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  display: inline-block;
  float: left;
  margin-right: 10px;
  border: solid 3px;
  padding: 6px;
  border-radius: 20px;
  background-color: #F9F3F4;
  color: #2CB463;
  text-align: center;
  margin-top: 10px;
}

body#show_game_page .container .right_button .red_button.bttn a{
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  display: inline-block;
  float: right;
  margin-right: 10px;
  margin-left: 4px;
  border: solid 3px;
  padding: 6px;
  border-radius: 20px;
  background-color: red ;
  color: #F9F3F4;
  text-align: center;
  margin-top: 10px;
}

body#show_game_page .container .right_button .gray_button.bttn a{
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  display: inline-block;
  float: right;
  margin-right: 10px;
  margin-left: 4px;
  border: solid 3px;
  padding: 6px;
  border-radius: 20px;
  background-color: slategray ;
  color: #F9F3F4;
  text-align: center;
  margin-top: 10px;
}

/*END OF SHOW GAME*/



/*RESPONSIVE STYLE*/

@media screen and (max-width: 768px){
  .content h1{
    font-size: 250%;
  }
  .btn{
    font-size: 110%;
    padding: 7px 15px;
  }
  nav ul{
    max-height: 0px;
  }
  .showing{
    max-height: 20em;
  }
  nav ul li{
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    text-align: left;
  }

  .handle{
    display: block;
  }

  /*END OF RESPONSIVE STYLE*/
